/* @todo move to kingfisher, general fixes and adjustments */

.able-prefs-form .modalCloseButton {
  min-width: 35px;
  min-height: 35px;
}

.able {
  z-index: 0;
}

.able-controller div[role="button"] {
  z-index: 0;
}

/* WHFR stuff */

#block-whfrlivestreamplayer {
  width: 100%;
  background: var(--secondary-color);
}

.block-whfr-live-block .able-wrapper {
  display: none;
  max-width: 90% !important;
  margin: 0 auto;
}

.block-whfr-live-block .able-seekbar-wrapper {
  display: none;
}

.block-whfr-live-block .able {
  margin: 0;
  padding: 1em 0;
  background-color: var(--secondary-color);
  box-shadow: none;
}

.block-whfr-live-block .able-player {
  display: flex;
  justify-content: flex-end;
  background: none;
}



.block-whfr-live-block .able-button-handler-slower,
.block-whfr-live-block .able-button-handler-faster {
  display: none !important;
}

.block-whfr-live-block .able-right-controls,
.block-whfr-live-block .able-left-controls {
  float: none;
}

.block-whfr-live-block .able-controller {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin: 0 1em;
  border: none;
  background: none;
}

/* all controls */

.block-whfr-live-block .able-modal-dialog button svg,
.block-whfr-live-block .able-modal-dialog div[role="button"] svg,
.block-whfr-live-block .able-wrapper button svg,
.block-whfr-live-block .able-wrapper div[role="button"] svg {
  width: 3em;
  height: 3em;
  fill: var(--font-color);
}

.block-whfr-live-block .able-status-bar {
  color: var(--font-color);
}

/* volume controls */

.block-whfr-live-block .able-volume-head {
  left: -3px;
  height: 15px;
}

.block-whfr-live-block .able-volume-track {
  width: 0.5em;
  height: 3em;
  background-color: var(--secondary-color);
}


