/* Styling for WHFR Schedule Grid */

table.whfr-schedule-grid {
  margin: 0 auto 1em;
  border-spacing: 0;
  border: 1px solid #888;
  border-collapse: separate;
}

.whfr-schedule-grid tr {
  background: #fff;
}

.whfr-schedule-grid th,
td {
  border: 1px solid #888;
}

.whfr-schedule-grid .blank-timeslot {
  background: #ddd;
}

.whfr-schedule-grid .row-label {
  text-align: right;
}

.classical24-message {
  text-align: center;
  font-weight: bold;
}
