/**
 * @file
 * Contains site-specific styles for WHFR website.
 */

:root {
  --main-font: Roboto, Arial, sans-serif;
  --heading-font: "Big Shoulders Text", serif;
  --font-color: #262729;
  --main-color: #94ffac;
  --secondary-color: #94ffac;
  --button-main-color: #262729;
  --button-font-color: #fff;
  --button-hover-color: #94ffac;
  --black: #262729;
  --white: #fff;
  --light-gray: #ccc;
  --dark-gray: #595959;
  --background-color: #fff;
  --accent-color: #ffd500;
  --heading-background: #262729;
  --heading-border: #262729;
  --button-border-color: #262729;
  --button-border-hover: #262729;
  --button-secondary-hover-color: #fff;
  --drop-shadow: var(--drop-shadow);

}

.whfr-dark-theme {
  --font-color: #fff;
  --button-font-color: #fff;
  --main-color: #94ffac;
  --background-color: #0e1410;
  --secondary-color: #243328;
  --button-hover-color: #94ffac;
  --accent-color: #ffd500;
  --heading-background: #243324;
  --heading-border: #243324;
  --button-main-color: #262729;
  --button-border-color: #fff;
  --button-border-hover: #94ffac;
  --button-secondary-hover-color: #fff;
  --drop-shadow: #000;
}

html {
  font-size: 100%;
}

.layout-container {
  letter-spacing: 1px;
  color: var(--font-color);
  background-color: var(--background-color);
  font-family: var(--main-font);
  font-size: 1.125em;
  line-height: 1.667em;
}



/* Top header - menus, logo, search */

.region-header-middle {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3em;
  font-weight: bold;
}

.menu--secondary-menu ul:not(.contextual-links) {
  display: flex;
  align-items: center;
  padding: 0;
}

.menu--secondary-menu ul li {
  padding: 0 1em;
}

.menu--secondary-menu ul li:first-of-type {
  padding: 0;
}

.menu--secondary-menu > ul a {
  padding: 0.5em;
  border: 4px solid transparent;
}

.menu--secondary-menu a:hover,
.menu--secondary-menu a:focus {
  border: 4px solid var(--font-color);
  background: none;
}

.menu--secondary-menu button {
  padding: 0.5em;
  color: var(--font-color);
  border: 4px solid transparent;
  background: none;
}

.menu--secondary-menu button:hover,
.menu--secondary-menu button:focus {
  border: 4px solid var(--font-color);
}



/* Section containers */

.header-bg-section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 500px;
  margin-bottom: 2em;
  color: var(--white);
  background-position: center;
  background-size: cover;
}

.header-bg-section:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: rgba(0, 0, 0, 0.5);
}

.header-bg-section .paragraph {
  position: relative;
  z-index: 99;
}

.whfr-highlight-border-green {
  padding: 2em;
  border: 4px solid var(--main-color);
}

/* @todo add to kingfisher? */

.block-search-form-block form {
  display: flex;
  align-self: center;
  justify-content: center;
  width: 100%;
}

.block-search-form-block input.form-submit {
  display: block;
}

/* @todo whfr stuff continues change this comment */

.whfr-link-accent {
  display: flex;
  justify-content: flex-end;
}

/* Front page news */

.whfr-news-mini {
  margin-top: 2em;
}

.whfr-news-mini .content .views-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid var(--font-color);
}

.whfr-news-mini .title {
  flex: 0 1 70%;
}

.whfr-news-mini .created {
  justify-self: flex-end;
}

.whfr-news-mini a,
.whfr-news-mini a:visited,
.whfr-news-mini a:hover {
  color: var(--font-color);
}

.whfr-news-mini .views-row {
  padding: 0.5em 0;
}

.whfr-news-mini .title a {
  margin-right: 0.5em;
  text-decoration: none;
  color: var(--font-color);
  border-bottom: none;
}

/* .whfr-news-mini a {
  border-bottom: none;
  text-decoration: none;
} */

/* Recently played songs */

.recent-playlist-row {
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
}

.recent-playlist-row:first-of-type {
  padding-top: 1em;
}

.coverart {
  display: flex;
  max-width: 100px;
  padding: 0 1.5em 0 0;
}

.song-info {
  width: 100%;
  height: 100%;
  padding: 1em;
  border: 4px solid var(--black);
  border-right: 8px solid var(--black);
}

/* Front page content slider */

.content-slider-navigation> .content-slider-prev {
  left: 0;
}

.content-slider-navigation> .content-slider-next {
  right: 0;
}

/* Section backgrounds */

.whfr-player {
  background: var(--secondary-color);
}

.whfr-banner-green {
  margin: 1.5em -50vw;
  padding: 2em 0;
  background: var(--secondary-color);
}

/* Text treatments */

.whfr-text-yellow {
  color: var(--accent-color);
}

.whfr-header-yellow a {
  position: relative;
  display: block;
  padding: 0.5em;
  transition: all 0.15s ease-out;
  color: var(--black);
  border-bottom: 4px solid var(--font-color);
}

.whfr-header-yellow a:hover, .whfr-header-yellow a:focus {
  border-bottom: 4px solid transparent;
  background: none;
}

.whfr-header-yellow a:after {
  position: absolute;
  top: -14px;
  left: -14px;
  width: 100%;
  height: 100%;
  padding: 0.5em;
  content: "";
  transition: all 0.15s ease-in;
  border: solid 4px transparent;
}

.whfr-header-yellow a:hover:after {
  border: solid 4px var(--font-color);
}

/* Headers */

h1, h2, h3, h4, h5, h6 {
  letter-spacing: 1px;
  font-family: var(--heading-font);
}

h1 {
  font-size: 2.375em;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.3125em;
}

h4 {
  color: var(--dark-gray);
}

h2.whfr-header,
h3.whfr-header,
h4.whfr-header {
  position: relative;
  color: var(--white);
}

h2.whfr-header span,
h3.whfr-header span,
h4.whfr-header span {
  display: inline-block;
  padding: 0.3em 1em;
  background: var(--heading-background);
}

h2.whfr-header:after,
h3.whfr-header:after,
h4.whfr-header:after {
  position: absolute;
  z-index: 99;
  left: 0;
  width: 90%;
  height: 100%;
  content: "";
  filter: drop-shadow(0 3px 2px var(--drop-shadow));
  border-bottom: 4px solid var(--heading-border);
}

h2.whfr-header-yellow,
h3.whfr-header-yellow,
h4.whfr-header-yellow,
h2.whfr-header-yellow-full-width,
h3.whfr-header-yellow-full-width,
h4.whfr-header-yellow-full-width {
  position: relative;
  width: fit-content;
  filter: drop-shadow(0 3px 2px var(--drop-shadow));
  color: var(--black);
  background: var(--accent-color);
  font-family: var(--main-font);
  font-weight: 400;
}

h2.whfr-header-yellow-full-width,
h3.whfr-header-yellow-full-width,
h4.whfr-header-yellow-full-width {
  width: 100%;
}

h3.whfr-header-yellow,
h4.whfr-header-yellow,
h3.whfr-header-yellow-full-width,
h4.whfr-header-yellow-full-width {
  padding: 0.5em;
}

.block-views-blocknewsfeed-block-front h3.whfr-header-yellow {
  padding: 0;
}

/* Buttons */

.layout-container .more-link {
  padding-top: 1.5em;
}

a.whfr-button-black,
a.whfr-button-black-lg,
.layout-container .more-link a {
  transition: all 250ms;
  color: var(--button-font-color);
  border: 4px solid var(--button-border-color);
  font-weight: 600;
}

a.whfr-button-black:hover,
a.whfr-button-black:focus,
a.whfr-button-black-lg:hover,
a.whfr-button-black-lg:focus,
.layout-container .more-link a:hover,
.layout-container .more-link a:focus {
  color: #262729;
  border: 4px solid var(--button-border-hover);
  background-color: var(--button-hover-color);
}

.whfr-button-black,
.whfr-button-black-lg,
.layout-container .more-link a {
  padding: 0.5em 1em;
  border-radius: 25px;
  background: var(--button-main-color);
}

.whfr-button-black-lg {
  font-size: 1.2em;
}

.whfr-banner-green a.whfr-button-black .whfr-banner-green a.whfr-button-black-lg {
  border: 4px solid var(--button-border-color);
}

.whfr-banner-green a.whfr-button-black:hover,
.whfr-banner-green a.whfr-button-black:focus,
.whfr-banner-green a.whfr-button-black-lg:hover,
.whfr-banner-green a.whfr-button-black-lg:focus {
  border: 4px solid var(--button-secondary-hover-color);
  background-color: var(--button-secondary-hover-color);
}
/* @todo genre.css */

h3.recent-playlist-row {
  padding: 0.3em 0.5em;
}

.genre-blues {
  background: #def0fe;
}

.genre-bigband {
  background: #f8baba;
}

.genre-none {
  background: #ccc;
}

.program-name {
  position: relative;
  padding: 0.5em 0;
  transition: all 0.15s ease-out;
}

.program-name a {
  position: relative;
  padding: 0.5em;
  color: var(--black);
  border-bottom: 4px solid var(--font-color);
}

.program-name a:after {
  position: absolute;
  top: -16px;
  left: -16px;
  width: 100%;
  height: 100%;
  padding: 0.5em;
  content: "";
  transition: all 0.15s ease-in;
  border: solid 4px transparent;
}

.program-name a:hover, .program-name a:focus {
  border-bottom: 4px solid transparent;
  background: none;
}

.program-name a:hover::after, .program-name a:focus::after {
  border: solid 4px var(--font-color);
}

/* @todo remove - testing */

.reduce-image-width img {
  max-width: 200px;
}
